/* GRADIENT COLORS 
PURPLE: #8E2DE2
BLUE-PURPLE: #4A00E0
PINK: #fc00ff  (slightly darker #eb00ee)
*/

body {
    margin: 0;
    padding: 0;
/*    color: #515357;*/
    color: white;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    background-image: linear-gradient(to bottom right, #c09, #8E2DE2 35%, #4A00E0 80%);
    background-image: linear-gradient(to bottom right, #c09, #8E2DE2, #4A00E0);
    background-image: linear-gradient(to bottom right, #ff378a, #8E2DE2 50%, #4211ff 85%);
/*    background-image: linear-gradient(to bottom right, #c09, #8E2DE2, #4211ff);*/
/*    background-image: linear-gradient(to bottom right, #ff378a, #4A00E0, #4211ff);*/
/*    background-image: linear-gradient(to right top, #c09 5%, #8E2DE2 35%, #4A00E0 80%);*/
    font-size: 62.5%;
    position: relative;
}

*:focus {
    outline: none;
}

/* --------------------------- REUSABLE COMPONENTS --------------------------- */
.submission img {
    width: 100%;
    height: 100%;
    margin: 0;
    transform: scale(1.15);
}

.submission {
    width: 300px;
    height: 300px;
    border-radius: 3px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: black;
}

.submission img:hover {
    transform: scale(1.03);
    width: 100%;
    opacity: .6;
}

/* --------------------------- HOME PAGE (INDEX) --------------------------- */


/* --------------- INDIVIDUAL MUSIC SUBMISSION PAGE --------------- */
/* ---------------------- USER PROFILE PAGE ---------------------- */