/* GRADIENT COLORS 
PURPLE: #8E2DE2
BLUE: #4A00E0
PINK: #fc00ff  
*/

body {
    margin: 0;
    padding: 0;
    color: #515357;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}



/* --------------------------- REUSABLE COMPONENTS --------------------------- */
.submission img {
    width: 100%;
    height: 100%;
    margin: 0;
    transform: scale(1.15);
}

.submission {
    width: 300px;
    height: 300px;
    border-radius: 3px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: black;
}

.submission img:hover {
    transform: scale(1.03);
    width: 100%;
    opacity: .6;
}

/* --------------------------- HOME PAGE (INDEX) --------------------------- */
.sticky {
  background-image: linear-gradient(to right bottom, #8E2DE2 10%, #4A00E0 60%, #fc00ff);
  position: fixed;
  padding-bottom: 20px;
  top: 0;
  width: 100%;
  height: 100px;
}

#top-container {
    width: 100%;
    height: 100px;
}

#myHeader {
    background-image: linear-gradient(to right bottom, #8E2DE2 10%, #4A00E0 60%, #fc00ff);
    width: 100%;
    height: 70vh;
    padding-bottom: 10px;
}

.search-bar {
    display: inline-block;
    color: #333;
    margin: auto;
    width: 85%;
    padding-left: 450px;
}

.search-bar__input {
    font-size: 2rem;
    padding: 1rem 1.5rem;
    border-radius: 2px;
    background-color: rgba(white, .5);
    width: 70%;
    display: block;
    border: none;
    font-family: inherit;
    color: inherit;
    border-bottom: 3px solid transparent;
    transition: all .3s;
}

.search-bar__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(#000, .15);
    border-bottom: 3px solid #fc00ff;
}

.logo {
  margin-left: 300px;
  margin-top: 10px;
  width: 800px;
  height: 250px;
}

 .upload {
      width: 110px;
      height: 80px;
      margin-left: 550px;
    }

.profile {
      width: 120px;
      height: 80px;
    }
#homepageUpload {
  margin-top: 50px;
  margin-left: 1150px;
}
#homepageProfile {
  margin-top: 50px;
}

.music-container {
    font-size: 30px;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}

.recommended-title {
    font-size: 40px;
    padding-top: 60px;
    padding-left: 30px;
    text-transform: uppercase;
    
}

td, th {
    padding: 40px;
}

/* --------------------------- UPLOAD --------------------------- */
.upload-form {
    background-color: rgb(249, 249, 249);
    font-size: 2rem;
    position: relative;
    height: 1200px;
    padding: 10rem;
}

#form-left {
    padding-left: 40rem;
}

#form-right {
    padding-right: 40rem;
/*    background-color:red;*/
    /* TODO: Fix later. Use Grid for 2 columns. */
}

.input-name {
    margin-bottom: .8rem;
}

.input-name span {
    color: red;
}

.photo-upload-container {
    height: 50rem;
}

.photo-upload-preview {
    width: 40rem;
    height: 40rem;
    position: relative;
}

#preview {
/*    TODO: Add background for image box. Scale image (not stretch). 
    Add hover effect (opaque black and scale out with icon) */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 6rem;
    right: 0;
/*    z-index: -1; */
}

.image-input {
/*    opacity: 0;*/
    width: 100%;
    height: 100%;
}

input[type=submit] {
    /* TODO: Style with gradient colors. 
    Animation on hover. On mouse enter and leave, scale up or down. 
    Border-radius and box shadow. 
    Fade out until required input fields are filled? */
    position: absolute;
    text-transform: uppercase;
    bottom: 15rem;
    right: 36rem;
    padding: 2rem 3rem;
    width: 18rem;
    border-radius: 7px;
    background-image: linear-gradient(to right bottom, #8E2DE2, #4A00E0);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    color: white;
    letter-spacing: 2px;
    margin-top: 50px;
    font-size: 24px;
}

input[type=submit]:hover {
    transform: scaleX(1.05) scaleY(1.1);
    border-radius: 8px;
  }

input:focus { /* or *:focus */
    outline: none;
}

.audio-upload-container, 
.pdf-upload-container {
    margin: 5rem 0;
}

/* TODO: RIGHT HALF --> INPUT NAME, INSTRUMENT DROPDOWN, ETC */

.upload-header {
    height: 23vh;
}

/* --------------- INDIVIDUAL MUSIC SUBMISSION PAGE --------------- */
 .header {
      
      width: 100%;
      height: 150px;
    }
    .logoSubmission {
      width: 600px;
      height: 150px;
    }
   
    
    .box {
      display: flex;
      flex-wrap: wrap;
      
    }
    .music-information {
      width: 70%;
      display: flex;
      flex-wrap: wrap;
/*       overflow-y:scroll; */
    }
    .music-imag {
      padding: 40px 40px 30px 60px;
    }
    .music-detail {
      padding-top: 40px;
    }
    #music-name {
      font-size: 40px;
      color: white;
    }
    #author-name {
      font-size: 25px;
      color: white;
    }
    #hear-bookmark {
      padding-left: 10px;
      font-size: 20px;
    }
    .sheet-music {
      padding: 30px 30px 10px 50px;
    }
    #musicsheet {
      width: 100%
    }
    
    .inspiration {
      width: 30%;
      height: 500px;
    }
    .inspired-by-text {
      padding: 30px 10px 10px 14px;
      font-size: 30px;
      color: white;
    }
    .inspired-by {
      padding: 10px 10px 10px 20px;
      color: white;
    }
    .inspired-name {
      font-size: 30px;
      color: white;
    }
    .inspired-author {
      font-size: 18px;
      color: white;
    }
    .inspired-bookmark {
      padding-left: 40px;
      display: flex;
      flex-direction: row;
      font-size: 20px;
    }
    .numbers {
      margin-left: 5px;
      padding-right: 40px;
      color: white;
    }
    .heart {
      font-size: 25px;
      
    }
    
/* ---------------------- USER PROFILE PAGE ---------------------- */