<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/normalize.css' %}" />
     <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" /> 
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    <title>Mousaic</title>
</head>
<body>
    <div id="myHeader">
       <a href="http://cs160-final-panpanxu714595.codeanyapp.com/upload"> 
        <img class="upload" id="homepageUpload"src= "{%static 'images/Upload_Icon.png'%}" alt="upload">
      </a>
      <a href="http://cs160-final-panpanxu714595.codeanyapp.com/profile"> 
        <img class="profile" id="homepageProfile" src= "{%static 'images/Profile_icon.png'%}" alt="profile">
      </a>
      <a href="http://cs160-final-panpanxu714595.codeanyapp.com/"> 
        <img class="logo" src= "{%static 'images/Mousaic.png'%}" alt="logo">
      </a>
        <div class="search-container">
            <!-- put search icon image here -->
            <form action="#" class="search-bar">
                <input type="text" class="search-bar__input" placeholder="Search">
            </form>
        </div>
  </div>
  
    <div class="section-recommended">
      <div class="recent-container">
        <p class="recommended-title">Recent Uploads</p>
        <div class="music-container">
          <table>
            <tbody>
              <tr>
                <th class="submission-imag"><div class="submission"><img src= "{%static 'images/download.png'%}" alt="music"></div></th>
                <th class="submission-imag"><div class="submission"><img src= "{%static 'images/happyrock.jpg'%}" alt="music"></div></th>
                <th class="submission-imag"><div class="submission"><img src= "{%static 'images/download.png'%}" alt="music"></div></th>
                <th class="submission-imag"><div class="submission"><img src= "{%static 'images/download.png'%}" alt="music"></div></th>
                <th class="submission-imag"><div class="submission"><img src= "{%static 'images/download.png'%}" alt="music"></div></th>
                <th class="submission-imag"><div class="submission"><img src= "{%static 'images/download.png'%}" alt="music"></div></th>
              </tr> 
              
              <tr>
                <th class="submission-name">
                  <a href="http://cs160-final-panpanxu714595.codeanyapp.com/submission">snippet title</a></th>
                 <th class="submission-name">
                  <a href="http://cs160-final-panpanxu714595.codeanyapp.com/submission">snippet title</a></th>
                 <th class="submission-name">
                  <a href="http://cs160-final-panpanxu714595.codeanyapp.com/submission">snippet title</a></th>
                 <th class="submission-name">
                  <a href="http://cs160-final-panpanxu714595.codeanyapp.com/submission">snippet title</a></th>
                 <th class="submission-name">
                  <a href="http://cs160-final-panpanxu714595.codeanyapp.com/submission">snippet title</a></th>
                 <th class="submission-name">
                  <a href="http://cs160-final-panpanxu714595.codeanyapp.com/submission">snippet title</a></th>
              </tr>
              
              <tr>
                <th class="submission-icon">
                 <div class="heart">
                   <ion-icon name="bookmark"></ion-icon>
                  </div>
                  <div>
                    <ion-icon name="heart"></ion-icon>
                  </div>
                 
                </th>
              </tr>
            </tbody> 
          </table>
        </div>
      </div>
      
      <div class="mood-container">
        <p class="recommended-title">Mood: Happy</p>
        <div class="music-container">
          <table>
            <tbody>
              <tr>
                <th class="submission-imag"><div class="submission"><img src= "{%static 'images/download.png'%}" alt="music"></div></th>
                <th class="submission-imag"><div class="submission"><img src= "{%static 'images/happyrock.jpg'%}" alt="music"></div></th>
                <th class="submission-imag"><div class="submission"><img src= "{%static 'images/download.png'%}" alt="music"></div></th>
                <th class="submission-imag"><div class="submission"><img src= "{%static 'images/download.png'%}" alt="music"></div></th>
                <th class="submission-imag"><div class="submission"><img src= "{%static 'images/download.png'%}" alt="music"></div></th>
                <th class="submission-imag"><div class="submission"><img src= "{%static 'images/download.png'%}" alt="music"></div></th>
              </tr>  
              
               <tr>
               <th class="submission-name">
                  <a href="http://cs160-final-panpanxu714595.codeanyapp.com/submission">snippet title</a></th>
                 <th class="submission-name">
                  <a href="http://cs160-final-panpanxu714595.codeanyapp.com/submission">snippet title</a></th>
                 <th class="submission-name">
                  <a href="http://cs160-final-panpanxu714595.codeanyapp.com/submission">snippet title</a></th>
                 <th class="submission-name">
                  <a href="http://cs160-final-panpanxu714595.codeanyapp.com/submission">snippet title</a></th>
                 <th class="submission-name">
                  <a href="http://cs160-final-panpanxu714595.codeanyapp.com/submission">snippet title</a></th>
                 <th class="submission-name">
                  <a href="http://cs160-final-panpanxu714595.codeanyapp.com/submission">snippet title</a></th>
              </tr>
            </tbody> 
          </table>
        </div>
      </div>
      
    </div>
<!--     <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script> -->
</body>
</html> 