 {% load staticfiles %}
<!DOCTYPE html>

<html lang="en">

<head> 
   <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  <title>My Profile</title>
 <style>
    body {
      background-image: linear-gradient(to bottom right, #c09, #8E2DE2 35%, #4A00E0 80%);
    }
   .profile-music {
     display: flex;
     flex-direction: row;
   }
   .col-left {
     margin:0px 50px 45px 55px;
   }
  
  </style>
</head>

<body>
  <div class="old-header">
        <div class="logoSubmission">
          <a href="http://cs160-final-panpanxu714595.codeanyapp.com/"> 
          <img src= "{%static 'images/Logo_w__music_note.png'%}" alt="logo">
          </a>
        </div>
        <div class="upload">
          <a href="http://cs160-final-panpanxu714595.codeanyapp.com/upload">
           <img src= "{%static 'images/Upload_Icon.png'%}" alt="upload">
          </a>
        </div>
        <div class="profile dropdown">
          <a href="http://cs160-final-panpanxu714595.codeanyapp.com/profile">
          <img src= "{%static 'images/Profile_icon.png'%}" alt="profile">
          </a>
          <div class="dropdown-content">
            <a href="../">Log out</a>
          </div>
        </div>
  </div>
  
  <div class="snippets-container">
    <!-- fixed side nav bae   -->
  <div class="sidenav">
      <a href="../profile">My Snippets</a>
      <a href="../profile">Bookmarked</a>
  </div>
  
    
<!-- adding styled snippets display   -->
  <div class="snippets-box">
      <div class="profile-music">
          <div class="col submission col-left">
           <div class="submission-hover">
               <div class="submission-like">
                   <ion-icon name="ios-heart" onclick="iconClick($(this))"></ion-icon>
               </div>
               <div class="submission-play">
                   <ion-icon name="ios-play-circle" onclick="iconClickPlay(this)"></ion-icon>
               </div>
               <div class="submission-bookmark">
                  <ion-icon name="ios-bookmark" onclick="iconClick($(this))"></ion-icon>
               </div>
           </div>
            <div class="submission-image">
                <img class="d-block img-fluid" src="{% static 'images/covers/upbeat/4.jpeg' %}" alt="">
            </div>
            <div class="submission-title" onclick="window.location.href = '/submission'">Title</div>
            <div class="submission-user">User</div>
        </div>
        </div>
      
       <div class="profile-music">
          <div class="col submission col-left">
           <div class="submission-hover">
               <div class="submission-like">
                   <ion-icon name="ios-heart" onclick="iconClick($(this))"></ion-icon>
               </div>
               <div class="submission-play">
                   <ion-icon name="ios-play-circle" onclick="iconClickPlay(this)"></ion-icon>
               </div>
               <div class="submission-bookmark">
                  <ion-icon name="ios-bookmark" onclick="iconClick($(this))"></ion-icon>
               </div>
           </div>
            <div class="submission-image">
                <img class="d-block img-fluid" src="{% static 'images/covers/trending/5.jpeg' %}" alt="">
            </div>
            <div class="submission-title" onclick="window.location.href = '/submission'">Title</div>
            <div class="submission-user">User</div>
        </div>
        </div>
      
       <div class="profile-music">
          <div class="col submission col-left">
           <div class="submission-hover">
               <div class="submission-like">
                   <ion-icon name="ios-heart" onclick="iconClick($(this))"></ion-icon>
               </div>
               <div class="submission-play">
                   <ion-icon name="ios-play-circle" onclick="iconClickPlay(this)"></ion-icon>
               </div>
               <div class="submission-bookmark">
                  <ion-icon name="ios-bookmark" onclick="iconClick($(this))"></ion-icon>
               </div>
           </div>
            <div class="submission-image">
                <img class="d-block img-fluid" src="{% static 'images/covers/trending/9.jpeg' %}" alt="">
            </div>
            <div class="submission-title" onclick="window.location.href = '/submission'">Title</div>
            <div class="submission-user">User</div>
        </div>
        </div>
      
       <div class="profile-music">
          <div class="col submission col-left">
           <div class="submission-hover">
               <div class="submission-like">
                   <ion-icon name="ios-heart" onclick="iconClick($(this))"></ion-icon>
               </div>
               <div class="submission-play">
                   <ion-icon name="ios-play-circle" onclick="iconClickPlay(this)"></ion-icon>
               </div>
               <div class="submission-bookmark">
                  <ion-icon name="ios-bookmark" onclick="iconClick($(this))"></ion-icon>
               </div>
           </div>
            <div class="submission-image">
                <img class="d-block img-fluid" src="{% static 'images/covers/upbeat/1.jpeg' %}" alt="">
            </div>
            <div class="submission-title" onclick="window.location.href = '/submission'">Title</div>
            <div class="submission-user">User</div>
        </div>
        </div>
      
       <div class="profile-music">
          <div class="col submission col-left">
           <div class="submission-hover">
               <div class="submission-like">
                   <ion-icon name="ios-heart" onclick="iconClick($(this))"></ion-icon>
               </div>
               <div class="submission-play">
                   <ion-icon name="ios-play-circle" onclick="iconClickPlay(this)"></ion-icon>
               </div>
               <div class="submission-bookmark">
                  <ion-icon name="ios-bookmark" onclick="iconClick($(this))"></ion-icon>
               </div>
           </div>
            <div class="submission-image">
                <img class="d-block img-fluid" src="{% static 'images/covers/upbeat/7.jpeg' %}" alt="">
            </div>
            <div class="submission-title" onclick="window.location.href = '/submission'">Title</div>
            <div class="submission-user">User</div>
        </div>
        </div>
       <div class="profile-music">
          <div class="col submission col-left">
           <div class="submission-hover">
               <div class="submission-like">
                   <ion-icon name="ios-heart" onclick="iconClick($(this))"></ion-icon>
               </div>
               <div class="submission-play">
                   <ion-icon name="ios-play-circle" onclick="iconClickPlay(this)"></ion-icon>
               </div>
               <div class="submission-bookmark">
                  <ion-icon name="ios-bookmark" onclick="iconClick($(this))"></ion-icon>
               </div>
           </div>
            <div class="submission-image">
                <img class="d-block img-fluid" src="{% static 'images/covers/upbeat/6.jpeg' %}" alt="">
            </div>
            <div class="submission-title" onclick="window.location.href = '/submission'">Title</div>
            <div class="submission-user">User</div>
        </div>
        </div>
      
       <div class="profile-music">
          <div class="col submission col-left">
           <div class="submission-hover">
               <div class="submission-like">
                   <ion-icon name="ios-heart" onclick="iconClick($(this))"></ion-icon>
               </div>
               <div class="submission-play">
                   <ion-icon name="ios-play-circle" onclick="iconClickPlay(this)"></ion-icon>
               </div>
               <div class="submission-bookmark">
                  <ion-icon name="ios-bookmark" onclick="iconClick($(this))"></ion-icon>
               </div>
           </div>
            <div class="submission-image">
                <img class="d-block img-fluid" src="{% static 'images/covers/upbeat/5.jpeg' %}" alt="">
            </div>
            <div class="submission-title" onclick="window.location.href = '/submission'">Title</div>
            <div class="submission-user">User</div>
        </div>
        </div>
      
       <div class="profile-music">
          <div class="col submission col-left">
           <div class="submission-hover">
               <div class="submission-like">
                   <ion-icon name="ios-heart" onclick="iconClick($(this))"></ion-icon>
               </div>
               <div class="submission-play">
                   <ion-icon name="ios-play-circle" onclick="iconClickPlay(this)"></ion-icon>
               </div>
               <div class="submission-bookmark">
                  <ion-icon name="ios-bookmark" onclick="iconClick($(this))"></ion-icon>
               </div>
           </div>
            <div class="submission-image">
                <img class="d-block img-fluid" src="{% static 'images/covers/trending/0.jpeg' %}" alt="">
            </div>
            <div class="submission-title" onclick="window.location.href = '/submission'">Title</div>
            <div class="submission-user">User</div>
        </div>
        </div>
      
       <div class="profile-music">
          <div class="col submission col-left">
           <div class="submission-hover">
               <div class="submission-like">
                   <ion-icon name="ios-heart" onclick="iconClick($(this))"></ion-icon>
               </div>
               <div class="submission-play">
                   <ion-icon name="ios-play-circle" onclick="iconClickPlay(this)"></ion-icon>
               </div>
               <div class="submission-bookmark">
                  <ion-icon name="ios-bookmark" onclick="iconClick($(this))"></ion-icon>
               </div>
           </div>
            <div class="submission-image">
                <img class="d-block img-fluid" src="{% static 'images/covers/trending/1.jpeg' %}" alt="">
            </div>
            <div class="submission-title" onclick="window.location.href = '/submission'">Title</div>
            <div class="submission-user">User</div>
        </div>
        </div>
      
    
    </div>
  </div>

</body>

</html>