<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    <title>Upload</title>
</head>

<body>
    <div class="header">
        <img id="upload-icon" src="{% static 'images/icons/upload.png' %}" alt="" onclick="window.location.href = '/upload'" alt="upload icon">
        <img id="profile-icon" src="{% static 'images/icons/profile.png' %}" alt="" onclick="window.location.href = '/profile'" alt="profile icon">
        <img id="logo-icon" src="{% static 'images/icons/logo-music.png' %}" onclick="window.location = window.location.href.slice(0, window.location.href.length - window.location.pathname.length)" alt="logo">
    </div>
    <div class="grid-container">
        <div class="grid-item side-bar">
            <div class="filters">
                <h1>Sort</h1>
                <input type="checkbox" id="pop">
                <label for="pop">Most Popular</label>
                <br>
                <input type="checkbox" id="new">
                <label for="new">New Uploads</label>
                <br>
                <input type="checkbox" id="long">
                <label for="long">Duration: long to short</label>
                <br>
                <input type="checkbox" id="short">
                <label for="short">Duration: short to long</label>
                <br>

                <br>
                <h1>Filter</h1>
                <h2>Instrument</h2>
                <input type="checkbox" id="guitar">
                <label for="guitar">Guitar</label>
                <br>
                <input type="checkbox" id="piano">
                <label for="piano">Piano</label>
                <br>
                <input type="checkbox" id="sax">
                <label for="sax">Saxophone</label>
                <br>
                <input type="checkbox" id="trumpet">
                <label for="trumpet">Trumpet</label>
                <br>
                <input type="checkbox" id="flute">
                <label for="flute">Flute</label>
                <br>
                <br>

                <h2>Key</h2>
                <input type="checkbox" id="ab">
                <label for="ab">Ab Major</label>
                <br>
                <input type="checkbox" id="eb">
                <label for="eb">Eb Major</label>
                <br>
                <input type="checkbox" id="bb">
                <label for="bb">Bb Major</label>
                <br>
                <input type="checkbox" id="f">
                <label for="f">F Major</label>
                <br>
                <input type="checkbox" id="c">
                <label for="c">C Major</label>
                <br>
                <input type="checkbox" id="g">
                <label for="g">G Major</label>
                <br>
                <br>

                <h2>BPM</h2>
                <input type="checkbox" id="s">
                <label for="s">52-80</label>
                <br>
                <input type="checkbox" id="f">
                <label for="f">81-120</label>
                <br>
                <br>

                <br>
                <h2>Duration</h2>
                <input type="checkbox" id="short">
                <label for="short">0-30 seconds</label>
                <br>
                <input type="checkbox" id="short">
                <label for="short">31-60 seconds</label>
                <br>
                <br>

                <h2>Genre</h2>
                <input type="checkbox" id="jazz">
                <label for="jazz">Jazz</label>
                <br>
                <input type="checkbox" id="classical">
                <label for="classical">Classical</label>
                <br>
                <input type="checkbox" id="acoustic">
                <label for="acoustic">Acoustic</label>
                <br>
                <input type="checkbox" id="blues">
                <label for="blues">Blues</label>
                <br>
                <br>

                <h2>Mood</h2>
                <input type="checkbox" id="happy">
                <label for="happy">Happy</label>
                <br>
                <input type="checkbox" id="sad">
                <label for="sad">Sad</label>
                <br>
                <br>
            </div>
        </div>
        <div class="grid-item main">
            <div class="border-left"></div>
            <input type="text" id="search-searchbar" class="search-searchbar" placeholder="Search user submissions">
            <ion-icon id="search-search-icon" name="ios-search"></ion-icon>
            <script>
                /* Detect enter key on search bar input field */
                const search = document.getElementById("search-searchbar");
                search.addEventListener("keyup", function(event) {
                    if (event.key === "Enter") {
                        window.location.href = '/search'
                        //                            if (document.getElementById("search-searchbar").value === '') {
                        //                                console.log('sdf');
                        //                                document.getElementById("search-searchbar").setAttribute('placeholder', "Search user submissions");
                        //                            } else {
                        //                                document.getElementById("search-searchbar").setAttribute('placeholder', document.getElementById("search-searchbar").value);
                        //                            }
                        //                        }
                    }
                });

            </script>

            <div class="search-content">

                <div class="row">
                    <div class="col submission search-item">
                        <div class="submission-hover">
                            <div class="submission-like">
                                <ion-icon name="ios-heart" onclick="iconClick($(this))"></ion-icon>
                            </div>
                            <div class="submission-play">
                                <ion-icon name="ios-play-circle" onclick="iconClickPlay(this)"></ion-icon>
                            </div>
                            <div class="submission-bookmark">
                                <ion-icon name="ios-bookmark" onclick="iconClick($(this))"></ion-icon>
                            </div>
                        </div>
                        <div class="submission-image">
                            <img class="d-block img-fluid" src="{% static 'images/covers/relaxing/7.jpeg' %}" alt="">
                        </div>
                        <div class="submission-title" onclick="window.location.href = '/submission'">Title</div>
                        <div class="submission-user">User</div>
                    </div>
                    <div class="col submission search-item">
                        <div class="submission-hover">
                            <div class="submission-like">
                                <ion-icon name="ios-heart" onclick="iconClick($(this))"></ion-icon>
                            </div>
                            <div class="submission-play">
                                <ion-icon name="ios-play-circle" onclick="iconClickPlay(this)"></ion-icon>
                            </div>
                            <div class="submission-bookmark">
                                <ion-icon name="ios-bookmark" onclick="iconClick($(this))"></ion-icon>
                            </div>
                        </div>
                        <div class="submission-image">
                            <img class="d-block img-fluid" src="{% static 'images/covers/upbeat/6.jpeg' %}" alt="">
                        </div>
                        <div class="submission-title" onclick="window.location.href = '/submission'">Title</div>
                        <div class="submission-user">User</div>
                    </div>
                    <div class="col submission search-item">
                        <div class="submission-hover">
                            <div class="submission-like">
                                <ion-icon name="ios-heart" onclick="iconClick($(this))"></ion-icon>
                            </div>
                            <div class="submission-play">
                                <ion-icon name="ios-play-circle" onclick="iconClickPlay(this)"></ion-icon>
                            </div>
                            <div class="submission-bookmark">
                                <ion-icon name="ios-bookmark" onclick="iconClick($(this))"></ion-icon>
                            </div>
                        </div>
                        <div class="submission-image">
                            <img class="d-block img-fluid" src="{% static 'images/covers/trending/1.jpeg' %}" alt="">
                        </div>
                        <div class="submission-title" onclick="window.location.href = '/submission'">Title</div>
                        <div class="submission-user">User</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col submission search-item">
                        <div class="submission-hover">
                            <div class="submission-like">
                                <ion-icon name="ios-heart" onclick="iconClick($(this))"></ion-icon>
                            </div>
                            <div class="submission-play">
                                <ion-icon name="ios-play-circle" onclick="iconClickPlay(this)"></ion-icon>
                            </div>
                            <div class="submission-bookmark">
                                <ion-icon name="ios-bookmark" onclick="iconClick($(this))"></ion-icon>
                            </div>
                        </div>
                        <div class="submission-image">
                            <img class="d-block img-fluid" src="{% static 'images/covers/trending/8.jpeg' %}" alt="">
                        </div>
                        <div class="submission-title" onclick="window.location.href = '/submission'">Title</div>
                        <div class="submission-user">User</div>
                    </div>
                    <div class="col submission search-item">
                        <div class="submission-hover">
                            <div class="submission-like">
                                <ion-icon name="ios-heart" onclick="iconClick($(this))"></ion-icon>
                            </div>
                            <div class="submission-play">
                                <ion-icon name="ios-play-circle" onclick="iconClickPlay(this)"></ion-icon>
                            </div>
                            <div class="submission-bookmark">
                                <ion-icon name="ios-bookmark" onclick="iconClick($(this))"></ion-icon>
                            </div>
                        </div>
                        <div class="submission-image">
                            <img class="d-block img-fluid" src="{% static 'images/covers/trending/3.jpg' %}" alt="">
                        </div>
                        <div class="submission-title" onclick="window.location.href = '/submission'">Title</div>
                        <div class="submission-user">User</div>
                    </div>
                    <div class="col submission search-item">
                        <div class="submission-hover">
                            <div class="submission-like">
                                <ion-icon name="ios-heart" onclick="iconClick($(this))"></ion-icon>
                            </div>
                            <div class="submission-play">
                                <ion-icon name="ios-play-circle" onclick="iconClickPlay(this)"></ion-icon>
                            </div>
                            <div class="submission-bookmark">
                                <ion-icon name="ios-bookmark" onclick="iconClick($(this))"></ion-icon>
                            </div>
                        </div>
                        <div class="submission-image">
                            <img class="d-block img-fluid" src="{% static 'images/covers/trending/9.jpeg' %}" alt="">
                        </div>
                        <div class="submission-title" onclick="window.location.href = '/submission'">Title</div>
                        <div class="submission-user">User</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col submission search-item">
                        <div class="submission-hover">
                            <div class="submission-like">
                                <ion-icon name="ios-heart" onclick="iconClick($(this))"></ion-icon>
                            </div>
                            <div class="submission-play">
                                <ion-icon name="ios-play-circle" onclick="iconClickPlay(this)"></ion-icon>
                            </div>
                            <div class="submission-bookmark">
                                <ion-icon name="ios-bookmark" onclick="iconClick($(this))"></ion-icon>
                            </div>
                        </div>
                        <div class="submission-image">
                            <img class="d-block img-fluid" src="{% static 'images/covers/beats/2.jpeg' %}" alt="">
                        </div>
                        <div class="submission-title" onclick="window.location.href = '/submission'">Title</div>
                        <div class="submission-user">User</div>
                    </div>
                    <div class="col submission search-item">
                        <div class="submission-hover">
                            <div class="submission-like">
                                <ion-icon name="ios-heart" onclick="iconClick($(this))"></ion-icon>
                            </div>
                            <div class="submission-play">
                                <ion-icon name="ios-play-circle" onclick="iconClickPlay(this)"></ion-icon>
                            </div>
                            <div class="submission-bookmark">
                                <ion-icon name="ios-bookmark" onclick="iconClick($(this))"></ion-icon>
                            </div>
                        </div>
                        <div class="submission-image">
                            <img class="d-block img-fluid" src="{% static 'images/covers/beats/8.jpeg' %}" alt="">
                        </div>
                        <div class="submission-title" onclick="window.location.href = '/submission'">Title</div>
                        <div class="submission-user">User</div>
                    </div>
                    <div class="col submission search-item">
                        <div class="submission-hover">
                            <div class="submission-like">
                                <ion-icon name="ios-heart" onclick="iconClick($(this))"></ion-icon>
                            </div>
                            <div class="submission-play">
                                <ion-icon name="ios-play-circle" onclick="iconClickPlay(this)"></ion-icon>
                            </div>
                            <div class="submission-bookmark">
                                <ion-icon name="ios-bookmark" onclick="iconClick($(this))"></ion-icon>
                            </div>
                        </div>
                        <div class="submission-image">
                            <img class="d-block img-fluid" src="{% static 'images/covers/relaxing/0.jpeg' %}" alt="">
                        </div>
                        <div class="submission-title" onclick="window.location.href = '/submission'">Title</div>
                        <div class="submission-user">User</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col submission search-item">
                        <div class="submission-hover">
                            <div class="submission-like">
                                <ion-icon name="ios-heart" onclick="iconClick($(this))"></ion-icon>
                            </div>
                            <div class="submission-play">
                                <ion-icon name="ios-play-circle" onclick="iconClickPlay(this)"></ion-icon>
                            </div>
                            <div class="submission-bookmark">
                                <ion-icon name="ios-bookmark" onclick="iconClick($(this))"></ion-icon>
                            </div>
                        </div>
                        <div class="submission-image">
                            <img class="d-block img-fluid" src="{% static 'images/covers/relaxing/6.jpeg' %}" alt="">
                        </div>
                        <div class="submission-title" onclick="window.location.href = '/submission'">Title</div>
                        <div class="submission-user">User</div>
                    </div>
                    <div class="col submission search-item">
                        <div class="submission-hover">
                            <div class="submission-like">
                                <ion-icon name="ios-heart" onclick="iconClick($(this))"></ion-icon>
                            </div>
                            <div class="submission-play">
                                <ion-icon name="ios-play-circle" onclick="iconClickPlay(this)"></ion-icon>
                            </div>
                            <div class="submission-bookmark">
                                <ion-icon name="ios-bookmark" onclick="iconClick($(this))"></ion-icon>
                            </div>
                        </div>
                        <div class="submission-image">
                            <img class="d-block img-fluid" src="{% static 'images/covers/upbeat/5.jpeg' %}" alt="">
                        </div>
                        <div class="submission-title" onclick="window.location.href = '/submission'">Title</div>
                        <div class="submission-user">User</div>
                    </div>
                    <div class="col submission search-item">
                        <div class="submission-hover">
                            <div class="submission-like">
                                <ion-icon name="ios-heart" onclick="iconClick($(this))"></ion-icon>
                            </div>
                            <div class="submission-play">
                                <ion-icon name="ios-play-circle" onclick="iconClickPlay(this)"></ion-icon>
                            </div>
                            <div class="submission-bookmark">
                                <ion-icon name="ios-bookmark" onclick="iconClick($(this))"></ion-icon>
                            </div>
                        </div>
                        <div class="submission-image">
                            <img class="d-block img-fluid" src="{% static 'images/covers/relaxing/2.jpeg' %}" alt="">
                        </div>
                        <div class="submission-title" onclick="window.location.href = '/submission'">Title</div>
                        <div class="submission-user">User</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col submission search-item">
                        <div class="submission-hover">
                            <div class="submission-like">
                                <ion-icon name="ios-heart" onclick="iconClick($(this))"></ion-icon>
                            </div>
                            <div class="submission-play">
                                <ion-icon name="ios-play-circle" onclick="iconClickPlay(this)"></ion-icon>
                            </div>
                            <div class="submission-bookmark">
                                <ion-icon name="ios-bookmark" onclick="iconClick($(this))"></ion-icon>
                            </div>
                        </div>
                        <div class="submission-image">
                            <img class="d-block img-fluid" src="{% static 'images/covers/trending/2.jpeg' %}" alt="">
                        </div>
                        <div class="submission-title" onclick="window.location.href = '/submission'">Title</div>
                        <div class="submission-user">User</div>
                    </div>
                    <div class="col submission search-item">
                        <div class="submission-hover">
                            <div class="submission-like">
                                <ion-icon name="ios-heart" onclick="iconClick($(this))"></ion-icon>
                            </div>
                            <div class="submission-play">
                                <ion-icon name="ios-play-circle" onclick="iconClickPlay(this)"></ion-icon>
                            </div>
                            <div class="submission-bookmark">
                                <ion-icon name="ios-bookmark" onclick="iconClick($(this))"></ion-icon>
                            </div>
                        </div>
                        <div class="submission-image">
                            <img class="d-block img-fluid" src="{% static 'images/covers/trending/5.jpeg' %}" alt="">
                        </div>
                        <div class="submission-title" onclick="window.location.href = '/submission'">Title</div>
                        <div class="submission-user">User</div>
                    </div>
                    <div class="col submission search-item">
                        <div class="submission-hover">
                            <div class="submission-like">
                                <ion-icon name="ios-heart" onclick="iconClick($(this))"></ion-icon>
                            </div>
                            <div class="submission-play">
                                <ion-icon name="ios-play-circle" onclick="iconClickPlay(this)"></ion-icon>
                            </div>
                            <div class="submission-bookmark">
                                <ion-icon name="ios-bookmark" onclick="iconClick($(this))"></ion-icon>
                            </div>
                        </div>
                        <div class="submission-image">
                            <img class="d-block img-fluid" src="{% static 'images/covers/trending/6.jpeg' %}" alt="">
                        </div>
                        <div class="submission-title" onclick="window.location.href = '/submission'">Title</div>
                        <div class="submission-user">User</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>

</html>
