<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    <title>Submission</title>
</head>
  <style>
  body {
  background-image: linear-gradient(to right bottom, #8E2DE2 10%, #4A00E0 60%, #fc00ff);
}
  </style>
<body>
   <!-- Use <div class="submission"></div> as a placeholder for music submissions. -->
    <div class="header">
      <a href="http://cs160-final-panpanxu714595.codeanyapp.com/"> 
        <img class="logoSubmission" src= "{%static 'images/Mousaic.png'%}" alt="logo">
      </a>
      <a href="http://cs160-final-panpanxu714595.codeanyapp.com/upload"> 
        <img class="upload" src= "{%static 'images/Upload_Icon.png'%}" alt="upload">
      </a>
      <a href="http://cs160-final-panpanxu714595.codeanyapp.com/profile"> 
        <img class="profile" src= "{%static 'images/Profile_icon.png'%}" alt="profile">
      </a>
  </div>
    <div class="box">
      <div class="music-information"> 
        <div class="music-imag">
          <img src= "{%static 'images/download.png'%}" alt="music">
        </div>
        <div class="music-detail">
          <ul style="list-style-type:none;">
            <div id="music-name"><li>MODDY GUITAR</li></div>
            <div id="author-name"><li>MODDY GUITAR</li></div>
          </ul>
             <div class="inspired-bookmark">
              <div class="heart">
                <ion-icon name="heart"></ion-icon> 
              </div>
              <div class="numbers">
                <p>30</p>
              </div>
              <div class="heart">
                <ion-icon name="bookmark"></ion-icon>
              </div>
              <div class="numbers">
                <p>30</p>
              </div>
              </div> 
          
        </div>
         <div class="sheet-music">
          <img id="musicsheet" src= "{%static 'images/musicsheet1.png'%}" alt="music">
        </div>
    </div>
      <div class="inspiration">
        <div class="inspired-by-text"><p>Inspired by: </p></div>
        <div>
          <img class="inspired-by" src= "{%static 'images/download.png'%}" alt="music">
        </div>
        <div class="inspired-by-info">
          <ul style="list-style-type:none;">
            <div class="inspired-name"><li>MODDY GUITAR</li></div>
            <div class="inspired-author"><li>MODDY GUITAR</li></div>
           </ul>
            <div class="inspired-bookmark">
              <div class="heart">
                <ion-icon name="heart"></ion-icon> 
              </div>
              <div class="numbers">
                <p>30</p>
              </div>
              <div class="heart">
                <ion-icon name="bookmark"></ion-icon>
              </div>
              <div class="numbers">
                <p>30</p>
              </div>
              </div> 
        </div>
        
         <div class="inspired-by-text"><p>Inspired: </p></div>
        <div>
          <img class="inspired-by" src= "{%static 'images/download.png'%}" alt="music">
        </div>
        <div class="inspired-info">
          <ul style="list-style-type:none;">
            <div class="inspired-name"><li>MODDY GUITAR</li></div>
            <div class="inspired-author"><li>MODDY GUITAR</li></div>
          </ul>
            <div class="inspired-bookmark">
              <div class="heart">
                <ion-icon name="heart"></ion-icon> 
              </div>
              <div class="numbers">
                <p>30</p>
              </div>
              <div class="heart">
                <ion-icon name="bookmark"></ion-icon>
              </div>
              <div class="numbers">
                <p>30</p>
              </div>
              </div> 
          
        </div>
      </div>
      </div>
      
    
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>