<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    <title>Upload</title>
</head>

<body>
    <div class="upload-header"></div>
    
    <div class="upload-form">
        <form id="form-left" action="">
           <div class="photo-upload-container">
              <div class="input-name">
                  Cover Photo:<br>
              </div>
              <div class="photo-upload-preview">
                  <input type="file" class="image-input" accept="image/*" onchange="previewImage(event)"><br>
                  <img id="preview"/>
              </div>
           </div>

           <div class="audio-upload-container">
               <div class="input-name">
                   Audio File<span>*</span>:<br>
                </div>
               <input type="file" accept="audio/*">
           </div>
           <div class="pdf-upload-container">
              <div class="input-name">
                  Sheet Music:<br>
                  <input type="file" accept="application/pdf">
              </div>
           </div>
           <input type="submit">
        </form>
        
<!--
        <form id="form-right" action="">
            TODO: Use Bootstrap Grid for 2 columns.
        </form>
-->
    </div>
      
    <div class="upload-footer"></div>
</body>
</html>